
<form class="form-validate mb-lg">
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">Nome do Restaurante:</label>
      <div class="col-md-6"><input class="form-control" type="text" placeholder="Ex: LM09"></div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">Código do restaurante:</label>
      <div class="col-md-6"><input class="form-control" type="text" placeholder="Ex: 4002"></div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">Número:</label>
      <div class="col-md-6"><input class="form-control" type="text" placeholder="Ex: Sorvete"></div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">Complemento:</label>
      <div class="col-md-6"><input class="form-control" type="text" ></div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">Cep:</label>
      <div class="col-md-6"><input class="form-control" type="text" placeholder="Ex: 11724-175"></div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">Cidade:</label>
      <div class="col-md-6"><input class="form-control" type="text" placeholder="Ex: São Paulo"></div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">UF:</label>
      <div class="col-md-6"><input class="form-control" type="text" placeholder="Ex: São Paulo"></div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">País:</label>
      <div class="col-md-6"><input class="form-control" type="text" placeholder="Ex: Brasil"></div>
    </div>
  </fieldset>
  <div class="right">
    <button class="btn btn-primary" type="submit">Cadastrar</button>
    <button class="btn btn-primary" type="reset">Cancelar</button>
  </div>
</form>