
<form name="garcomForm" (ngSubmit)="cadastrar($event)" class="form-validate mb-lg">
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">Nome do garçom:</label>
      <div class="col-md-6"><input name="nm_funcionario" [(ngModel)]="newGarcom.nm_funcionario" class="form-control" type="text" placeholder=""></div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">Cargo:</label>
      <div class="col-md-6"><input name="cargo_funcionario" [(ngModel)]="newGarcom.cargo_funcionario" class="form-control" type="text" placeholder=""></div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">Expediente:</label>
      <div class="col-md-6"><input name="expediente_funcionario" [(ngModel)]="newGarcom.expediente_funcionario" class="form-control" type="text" placeholder=""></div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">Código do garçom:</label>
      <div class="col-md-6"><input name="cd_funcionario" [(ngModel)]="newGarcom.cd_funcionario" class="form-control" type="text" placeholder=""></div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">Faturamento:</label>
      <div class="col-md-6"><input name="faturamento_mensal" [(ngModel)]="newGarcom.faturamento_mensal" class="form-control" type="text" placeholder=""></div>
    </div>
  </fieldset>
  
  <div class="right">
    <button class="btn btn-primary" type="submit">Cadastrar</button>
    <button class="btn btn-primary" type="reset">Cancelar</button>
  </div>
</form>