<form name="categoriaForm" (keydown.enter)="$event.target.tagName == 'TEXTAREA'"  (ngSubmit)="cadastrar($event)" class="form-validate mb-lg">
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">Nome da categoria:</label>
      <div class="col-md-6"><input name="nm_categoria" [(ngModel)]="nm_categoria" class="form-control" type="text" placeholder="Ex: Sobremesa"></div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">Foto categoria:</label>
      <div class="col-md-6"><input name="foto_categoria" [(ngModel)]="foto_categoria" type="text" class="form-control" placeholder="Implementar**"></div>
    </div>
  </fieldset>
  <div class="right">
    <button class="btn btn-primary" type="submit">Cadastrar</button>
    <button class="btn btn-primary" type="reset">Cancelar</button>
  </div>
</form>