
<form class="form-validate mb-lg">
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">Nome da categoria:</label>
      <div class="col-md-6"><input class="form-control" type="text" placeholder=""></div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group has-feedback"><label class="col-sm-3 control-label">Foto categoria:</label>
      <div class="col-md-6"><input class="form-control" type="text" placeholder="Implementar**"></div>
    </div>
  </fieldset>
  
  <div class="right">
    <button class="btn btn-primary" type="submit">Cadastrar</button>
    <button class="btn btn-primary" type="reset">Cancelar</button>
  </div>
</form>